* {
  box-sizing: border-box;
}

html {
  background-image: url("../../img/oasispano.png");
}

.font-link {
  font-family: "Schoolbell", cursive;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
  vertical-align: middle;
}

.nav {
  background-color: #db3a34;
  color: #ffc857;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  font-size: 1.3rem;
}

.nav h1 {
  align-items: center;
  font-size: 2rem;
}

.nav li {
  color: white;
}

.nav li.active {
  background-color: #ffc857;
  color: white;
}

.nav li:hover {
  background-color: #ffc857;
  color: white;
}

.siteTitle {
  color: #ffc857;
  justify-content: center;
  align-items: center;
}

.tile {
  color: #e5ac57;
}
.container1 {
  transform: translate(-25%, 15%);
  justify-content: center;
  display: grid;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  grid-template-columns: 7rem 7rem 7rem 7rem 7rem;
  grid-template-rows: 7rem 7rem 7rem 7rem;
  grid-gap: 0rem;
  background-image: url(../../img/qr-code-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -10rem;
  height: fit-content;
  z-index: 3;
}
.tb {
  width: 30 px;
}

#couponInput {
  margin: auto;
  margin-top: 7rem;
  display: block;
  width: 300px;
  height: 50px;
  border: 2px solid #ffc857;
  font-size: 35px;
  background-color: #db393480;
  outline-color: #ffc857;
  font-family: "Schoolbell", cursive;
}
#error {
  margin: auto;
  display: block;
  align-content: center;
  width: fit-content;
  height: fit-content;
  color: #db3934;
  font-family: "Schoolbell", cursive;
}
#textButton {
  margin: auto;
  margin-top: 0.5rem;
  display: block;
  height: 30px;
  background-color: #db3934;
  border: 0px;
}
.gridSurrounding {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-left: 10rem;
  height: 450px;
  z-index: 1;
}
.chestah {
  margin-top: 5rem;
  justify-content: right;
  z-index: 1;
  margin-left: -20%;
}
.footer {
  margin-top: -17.8rem;
  z-index: 0;
  position: relative;
}
.input {
  z-index: 2;
  position: relative;
}
.card {
  transform: translate(0%, 15%);
  margin-top: 5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  justify-content: left;
  font-family: "Schoolbell", cursive;
  align-items: left;
  padding: 30px 40px;
  border-radius: 20px; /* 5px rounded corners */
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
