* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
  vertical-align: middle;
}

.nav {
  background-color: #db3a34;
  color: #ffc857;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.company-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li.active {
  background-color: #71816d;
}

.nav li:hover {
  background-color: #535647;
}

.siteTitle {
  color: #ffc857;
  justify-content: center;
}

.container1 {
  display: grid;
  grid-template-columns: 10rem 10rem 10rem 10rem;
  grid-gap: 1rem;
  align-items: center;
}
