* {
  box-sizing: border-box;
}

html {
  background-image: url("../../img/oasis.jpeg");
}

.font-link {
  font-family: "Schoolbell", cursive;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
  vertical-align: middle;
}

.nav {
  background-color: #db3a34;
  color: #ffc857;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  font-size: 1.3rem;
}

.nav h1 {
  align-items: center;
  font-size: 2rem;
}

.nav li {
  color: white;
}

.nav li.active {
  background-color: #ffc857;
  color: white;
}

.nav li:hover {
  background-color: #ffc857;
  color: white;
}

.siteTitle {
  color: #ffc857;
  justify-content: center;
  align-items: center;
}

.tile {
  color: #e5ac57;
}
.container1 {
  transform: translate(0%, 15%);
  justify-content: center;
  display: grid;
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  grid-template-columns: 7rem 7rem 7rem 7rem 7rem;
  grid-template-rows: 7rem 7rem 7rem 7rem;
  grid-gap: 0rem;
  background-image: url(../../img/intro-1608234614.jpg);
  height: fit-content;
  z-index: 1;
}
.tb {
  width: 30 px;
}

#couponInput {
  margin: auto;
  margin-top: 7rem;
  display: block;
  width: 300px;
  height: 50px;
  border: 2px solid #ffc857;
  font-size: 35px;
  background-color: #db393480;
  outline-color: #ffc857;
  font-family: "Schoolbell", cursive;
}
#textButton {
  margin: auto;
  margin-top: 0.5rem;
  display: block;
  height: 30px;
  background-color: #db3934;
  border: 0px;
}
.gridSurrounding {
  margin: auto;
  display: flex;
  justify-content: center;

  height: 450px;
  z-index: 1;
}
.chestah {
  margin-top: -0.7rem;
  justify-content: right;
  z-index: 1;
  margin-right: -15rem;
}
.footer {
  margin-top: -17.8rem;
  z-index: 0;
  position: relative;
}
.input {
  z-index: 1;
  position: relative;
}
